server:
  port: 8086

spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: revcart_notifications

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
