# Node modules
node_modules/

# Angular build artifacts
/dist/
/out-tsc/

# IDE files
/.idea/
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
src/environments/environment*.ts

# TypeScript compiled files
*.tsbuildinfo

# Coverage directory (used by testing tools like Karma)
coverage/

# Angular CLI specific
.angular/

# Dependency directories
jspm_packages/

# Temporary files
*.swp
*.swo
